*{
	margin: 0;
	padding: 0;
}

main{
	background: #78bbfd;
	border-top: 1px solid black;
	padding-bottom: 15px;
	text-align: center;
}

.autor{
	display: block;
	margin: 20px 10px 20px 10px;
}

.autor p{
	margin:10px;
	color: #78bbfd;
}

hr{
	width: 90%;
	margin-left:5% ;
	height: 5px;
	background: #29355f;
	margin-bottom: 30px;
}

.noticias{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin: 30px;
}

.noticias__titulo{
	width: 100%;
	padding: 10px 0px;
    font-size: 2em;
    color: #f3c516;
    box-shadow: 2px 5px 5px black;
    text-align: center;
    background: rgb(6,6,67);
	background: radial-gradient(circle, rgba(6,6,67,1) 0%, rgba(0,0,0,1) 0%, rgba(6,6,67,1) 100%);}

.noticias__articulo{
	margin: 5px;
	padding: 10px;
	justify-self: stretch;
	background-color: white;
	text-align: justify;
	border: 1px solid black;
	box-shadow: 5px 5px 5px gray;
}

.noticias__articulo img{
	width: 100%;
	height: 200px;
}

.noticias ul li{
	list-style: none;
}

@media (max-width: 840px){
	.noticias{
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (max-width: 640px){
	.noticias{
		grid-template-columns: repeat(1,1fr);
		margin: 30px 10px;
	}
	
}