*{
	margin: 0;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

body{
	background: grey;
}

.contenedor{
	width: 90%;
	margin: auto;
	max-width: 1024px;
}

.menu-principal {
	display: flex;
	text-align: center;
	align-items: center;
	background: #e7bb27;
	font-size: 1 rem;
	padding: 17px 15px 17px 0px;
}

.logo{
	text-align: center;
}

.logo img{
	width: 0px;
}

.menu-principal__opciones {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	align-items: center;
}

.menu-principal__escudo{
	margin: 75px 0px 0px 15px;
	width: 13%;
	height: 120px;
	position: absolute;
	background-color: #060643;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 0px;
	justify-content: center;
	box-shadow: 5px 5px 5px black;

}

.menu-principal__escudo__logo{
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.menu-principal__escudo__logo img{
	width: 100%;
}


.municipalidad{
	color: white;
	font-size: 0.6rem;
	text-align: center;

}

.distrito{
	color: white;
	font-weight: bold;
	font-size: 0.7rem;
}

.gestion{
	background-color: #e7bb27;
	color: black;
	font-size: 0.59rem;
	border-radius: 5px;
	justify-content: center;
	padding: 3px;
	margin: 5px;
}

.menu__opcion {
	padding: 15px;
	list-style: none;
	border: 1px rgba(0, 0, 0, 0) solid;
}

.menu__opcion a{
	text-decoration:none;
	color: black;
	font-weight: 600;
}

.menu-btn{
	position: absolute;
	cursor: pointer;
	top: 1em;
	right: 3em;
	opacity: 0;
	padding: 10px 15px 10px 15px;
}

.menu__opcion:hover{
	background-color: rgba(231, 231, 255, 0.5);
	border-radius: 10px;
	color: white;
	border-bottom: 1px white solid;
}

.contenedor-slogan{
	display: flex;
	margin: auto;
	width: 100%;
	background: url("../Images/fondo.jpg")no-repeat center center/cover;
	height: 480px;
	align-items: center;
}

.slogan{
	width: 100%;
	text-align: center;
	padding: 15px;
	background-color: rgba(6, 6, 67, 0.7);
	align-items: center;
	color: #e7bb27;
	font-size: 42px;
}

@media screen and (max-width: 840px) {

	.menu-btn{
		opacity: 100;
		color: #354672;
	}

	.menu-btn:hover{
		background-color: rgba(231, 231, 255, 0.5);
		border-radius: 10px;
		border-bottom: 1px white solid;
		color: black;
	}

	.menu-principal__escudo{
		width: 32%;
	}

	.menu-principal {
		padding: 42px 15px 42px 0px;
	}

	.menu__opcion{
		border-left: 3px rgba(0, 0, 0, 0) solid;
	}

	.logo img{
		width: 200px;
	}

	.menu-principal__opciones{
		display: block;
		background-color:#242526;
		position: fixed;
		left: 0px;
		top: 0px;
		width: 50%;
		height: 100%;
		opacity: 0.92;
		padding: 15px;
		border-right: #4d6fb1 2px solid;
		transform: translate(-500px);
		transition: transform 0.8s ease-in-out;
		text-align: left;
		align-items: center;
	}

	.menu-principal__opciones.show{
		transform: translate(0px);
		transition: transform 0.5s ease-in-out;
	}

	.menu__opcion:hover{
		background: #1547cc;
		border-radius: 0px 50px 50px 0px;
		border-left: 3px #e7bb27 solid;
		border-bottom: 1px rgba(0, 0, 0, 0) solid;
	}

	.menu__opcion a{
		color: whitesmoke;
	}

	.menu__opcion {
		padding: 20px 0px 20px 20px;
		margin: 10px;
	}

	.menu-principal__opciones hr{
		width: 90%;
		height: 0.01;
	}

	
}

@media (max-width: 640px){

	.menu-btn{
		top: 1em;
		right: 2em;
	}

	.menu-principal__escudo{
		width: 32%;
	}
}
