*{
	margin: 0;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

body{
	background: grey;
}

.contenedor{
	width: 90%;
	margin: auto;
	max-width: 1024px;
}

.menu-principal {
	display: flex;
	text-align: center;
	align-items: center;
	background:white;
	font-size: 1 rem;
	padding: 17px 15px 17px 0px;

}

.menu-principal__opciones {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	align-items: center;

}


.menu-principal__escudo{
	margin: 75px 0px 0px 15px;
	width: 13%;
	height: 120px;
	position: absolute;
	background-color: #060643;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 0px;
	justify-content: center;
	box-shadow: 5px 5px 5px black
}

.menu-principal__escudo__logo{
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu-principal__escudo__logo img{
	width: 100%;
}


.municipalidad{
	color: white;
	font-size: 0.6rem;
	text-align: center;
}

.distrito{
	color: white;
	font-weight: bold;
	font-size: 0.7rem;
}

.gestion{
	background-color: white;
	color: #005ED4;
	font-size: 0.59rem;
	border-radius: 5px;
	justify-content: center;
	padding: 3px;
	margin: 5px;
}

.menu__opcion {
	padding: 10px;
	list-style: none;
}

.menu__opcion a{
	text-decoration:none;
	color: black;
	font-weight: 600;
}

.menu-btn{
	position: absolute;
	cursor: pointer;
	right: 2.5em;
	color: rgba(0, 0, 0, 0);
	top: 1em;
	padding: 5px 0px 5px 0px;
}


.menu-principal__opciones li:hover{
	background: #acc2ed;
	border-radius: 50px;	
}

.contenedor-slogan{
	display: flex;
	margin: auto;
	width: 100%;
	background: url("../Images/fondo.jpg")no-repeat center center/cover;
	height: 480px;
	align-items: flex-end;
}

.slogan{
	width: 100%;
	text-align: center;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	align-items: center;
	color: white;
	font-size: 50px;
	border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 840px) {

	.menu-btn{
		right: 3.5em;
		color: #354672;
	}

	.menu-principal__escudo{
		width: 17%;
	}

	.menu-principal {
		padding: 36px 15px 36px 0px;
	}

	.menu-principal__opciones{
		display: block;
		background-color:#242526;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 40%;
		height: 100%;
		opacity: 0.92;
		padding: 0px 0px 0px 10px;
		border-right: #4d6fb1 2px solid;
		transform: translate(-500px);
		transition: transform 0.8s ease-in-out;
		text-align: left;
		align-items: center;
	}

	.menu-principal__opciones li:hover{
		background: #2d75e0;
		border-radius: 0px 50px 50px 0px;
	}

	.menu__opcion a{
		color: whitesmoke;
	}

	.menu__opcion {
		padding: 20px 0px 20px 20px;
		margin: 10px;
	}

	.menu-principal__opciones hr{
		width: 90%;
		height: 0.01;
	}


	.menu-principal__opciones.show{
		transform: translate(0px);
		transition: transform 0.8s ease-in-out;
	}
}

@media (max-width: 640px){
	.menu-principal__escudo{
		width: 20%;
	}
}
