.contenedor-slogan{
	background: url(../imagen/turismo.jpg) no-repeat center center/cover;

}

.noticias{
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.noticias__articulo{
	text-align: center;
}

.noticias__articulo--doble{
	margin: 5px;
	padding: 10px;
	justify-self: stretch;
	background-color: white;
	text-align: justify;
	border: 1px solid black;
	box-shadow: 5px 5px 5px gray;
	grid-column: 1/3;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.noticias__articulo--doble div, .noticias__articulo div{
	padding: 10px;
}

.noticias__articulo--doble img{
	text-align: center;
	width: 100%;
	height: 300px;
	border: solid 1px black;
}

.noticias__articulo h3,.noticias__articulo--doble h3{
	margin: 0px 20px;
	padding: 10px 5px;
	text-align: center;
	background: #f3c516;
	border-radius: 30px;
	border: solid 1px black;
	
}

.noticias__articulo--doble h3{
	width: 100%;
}

.noticias__articulo p,.noticias__articulo--doble p{
	padding: 20px;
	text-align: justify;
}

.noticias p{
	padding: 10px 20px;
}

.noticias__articulo img{
	text-align: center;
	width: 90%;
	border: solid 1px black;
}

@media (max-width: 840px){
	.noticias{
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (max-width: 640px){
	.noticias{
		grid-template-columns: repeat(1,1fr);
	}

	.noticias__articulo--doble{
		grid-column: 1/2;
	}

	.noticias__articulo--doble img{
		height: 200px;
	}

	.noticias__articulo img{
		width: 100%;
	}

	.noticias__articulo{
		margin-right: 10px;
	}

	.noticias__articulo h3,.noticias__articulo--doble h3{
		margin: 10px;
	}

	.noticias__articulo--doble div, .noticias__articulo div{
		padding: 10px;
	}

	.noticias__articulo p,.noticias__articulo--doble p{
		padding: 10px;
		text-align: justify;
		font-size: 14px;
	}
	
}
